<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <div class="col">
      <div class="btn-group">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!recipeForm.valid"
        >
          Save
        </button>

        <button
          type="button"
          class="btn btn-danger"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          [ngClass]="{'is-invalid': !recipeForm.get('name').valid && recipeForm.get('name').touched}"
        >
        <span
          class="invalid-feedback"
          *ngIf="recipeForm.get('name').hasError('required')"
        >
          This field is required
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="img-url">Image URL:</label>
        <input
          type="text"
          class="form-control"
          id="img-url"
          formControlName="imagePath"
        >
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngIf="recipeForm.get('imagePath').value">
    <div class="col">
      <img
        class="img-fluid"
        [src]="recipeForm.get('imagePath').value"
        [alt]="recipeForm.get('name').value"
      >
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="desc">Description:</label>
        <textarea
          class="form-control"
          id="desc"
          rows="6"
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" formArrayName="ingredients">
      <label>Ingredients:</label>

      <div
        class="form-row"
        *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; index as i"
        [formArrayName]="i"
      >
        <div class="col-8 form-group">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [ngClass]="{'is-invalid': !ingredientCtrl.get('name').valid && ingredientCtrl.get('name').touched}"
          >
          <span
            class="invalid-feedback"
            *ngIf="ingredientCtrl.get('name').hasError('required')"
          >
            This field is required
          </span>
        </div>

        <div class="col-3 form-group">
          <input
            type="text"
            class="form-control"
            formControlName="amount"
          >
        </div>

        <div class="col-1">
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDeleteIngredient(i)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            class="btn btn-dark"
            type="button"
            (click)="onAddIngredient()"
          >
            Add Ingredient
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
