<div class="row">
  <div class="col-12 text-center mb-4">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid" style="max-height: 320px;">
  </div>
</div>

<div class="row">
  <div class="col-8">
    <h1 class="mb-4">{{ recipe.name }}</h1>
  </div>

  <div class="col-4 d-flex">
    <div class="dropdown ml-auto align-self-start" appDropdown>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Manage recipe
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="addIngredientsToShoppingList($event)">To Shopping List</a>
        <a class="dropdown-item" href="#" (click)="editRecipe($event)">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="p-3">
      <h5 class="mb-3">Ingredients:</h5>

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }}
          <span class="badge badge-light p-1">{{ ingredient.amount }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
