@import "node_modules/bootstrap/scss/bootstrap";

.list-group-item {
  &.active {
    color: $dark;
    background-color: transparentize($success, 0.95);
    border-color: transparentize($success, 0.7);
  }
}
