<form class="mb-4">
  <div class="form-row">
    <div class="form-group col-10">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title">
    </div>

    <div class="form-group col-2">
      <label for="amout">Amount</label>
      <input type="number" class="form-control" id="amount">
    </div>
  </div>

  <div class="btn-group" role="group" aria-label="Form controls">
    <button type="submit" class="btn btn-success">Add</button>
    <button type="button" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-secondary">Clear</button>
  </div>
</form>
